# Google API OAuth 2.0 Credentials
calendar.dat

# Google OAuth 2.0 Client ID and Client Secret
client_secrets.json

# Ignore Log Files
*.log

# Ignore Pytest Cache
.pytest_cache
__pycache__

# Ignore Coverage
.coverage