[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"oauth2client" = "*"
pytz = "*"
requests = "*"
google-api-python-client = "*"
pytest = "*"
cerberus = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.7"
